.all
  - ("a".."z").each do |character|
    = link_to character do
      = render :file => "index/#{character}"

  %br

  - (1..9).each do |character|
    = link_to character.to_s do
      = render :file => "index/#{character}"

  %br

  - other_characters = ['exclamation_mark', 'question_mark', 'at_sign']
  - other_characters.each do |character|
    = link_to character.to_s do
      = render :file => "index/#{character}"
