<!DOCTYPE html>
<html>
<head>
  <title>Erder</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% unless @no_title_bar %>
  <%= render partial: 'layouts/title_bar' %>
<% end %>

<%= yield %>

</body>
</html>
